:root {
  --white: #fff;
  --white-two: #f7f7f7;
  --dark: #0f0f0f;
}

body {
  background: var(--white);
  transition: 0.5s ease-out;
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  -ms-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
}

/* -- DARKMODE -- */
body.dark {
  background: var(--dark);
}

body.dark a {
  color: var(--white-two);
}

body.dark p{
  color: var(--white-two);
}



/* -- barra de menu -- */
.nav-pills li a:hover{
  background-color: blue;
  
}

.text{
  margin-bottom: 20px;
}

.text button{
  margin-left: 40%;
  padding: 10px;
}

.carousel-item::before{
  content: "";
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 1);
}


@media (max-width: 1024px){
  .text button{
    margin-left: 15%;
  }
}

@media (max-width: 820px){
  .text button{
    margin-left: 35%;
  }
}