:root {
  --white: #fff;
  --white-two: #f7f7f7;
  --dark: #0f0f0f;
}

body {
  background: var(--white);
  transition: 0.5s ease-out;
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  -ms-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
}

/* -- DARKMODE -- */
body.dark {
  background: var(--dark);
}

body.dark a {
  color: var(--white-two);
}

body.dark p{
  color: var(--white-two);
}



/* -- barra de menu -- */
.nav-pills li a:hover{
  background-color: blue;
  
}